.banks {
    padding: 60px 0;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banks__inner {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banks__title {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 36px;
}

.banks__optionsBtns {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.banks__optionsBtn {
    border: none;
    cursor: pointer;
    background-color: #1890FF;
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.2s;
        &:nth-child(1) {
            margin: 0 0 15px 0;
        }    
        &:hover {
                background-color: #D93B59;
        }
}

@media (max-width: 480px){
    .banks {
        padding: 20px 0;
    }
    .banks__inner {
        padding: 10px;
    }
}