.header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1890FF;
}

.header__authButton {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
        &:hover {
            color: #1890FF;
            background-color: #fff;
        }
}

.header__username {
    margin: 0 15px 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}